<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>BogoData</title>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bower_components/jquery-ui/themes/cupertino/jquery-ui.min.css">

    <link rel="stylesheet" href="/css/bogodata.css"/>

</head>
<body>

<div id="nav">
    <div id="logo"><img src="/img/bogodata.png"/></div>
    <a id="signInButton" href="#" onclick="BogoData.showSignIn()">Ingresar</a>
    <a id="signOutButton" style="display: none;" href="/logout">Salir</a>
</div>

<div id="map_canvas"></div>

<footer>
</footer>

<div id="signIn" style="display: none;">
    <h2>Iniciar Sesión</h2>
    <a href="/auth/facebook">
        <i class="middle-icon fa fa-facebook-square fa-3x"></i> Iniciar Sesión con Facebook
    </a>
    <br/>
    <a href="/auth/twitter">
        <i class="middle-icon fa fa-twitter-square fa-3x"></i> Iniciar Sesión con Twitter
    </a>
</div>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script src="/js/lib/jquery.router.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>>
<script src="/js/lib/crypto/aes.js"></script>
<script src="/js/main.js"></script>


</body>
</html>
