<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>BogoData</title>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bower_components/jquery-ui/themes/blitzer/jquery-ui.min.css">

    <link rel="stylesheet" href="/css/bogodata.css"/>

</head>
<body>

<div id="nav">
    <div class="container">
        <div class="row">
            <div class="col-md-4 nav-background">
                <div id="logo"><img src="/img/bogodata.png"/></div>
            </div>
            <div class="col-md-1 nav-background">
                <a id="signInButton" onclick="BogoData.showSignIn()" href="#">
                    <img src="/img/icons/icon-inicio.png"/>
                </a>
            </div>
            <div class="col-md-1 nav-background">
                <a id="reportButton" href="#" onclick="BogoData.placeMarker()">
                    <img src="/img/icons/icon-filtrar.png"/>
                </a>
            </div>
            <div class="col-md-1 nav-background">
                <a id="signOutButton" style="display: none;" href="/logout">
                    <img src="/img/icons/icon-salir.png"/>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="map_canvas"></div>

<footer>
</footer>

<div id="signIn" style="display: none;">
    <h2>Iniciar Sesión</h2>
    <a href="/auth/facebook">
        <i class="middle-icon fa fa-facebook-square fa-3x"></i> Iniciar Sesión con Facebook
    </a>
    <br/>
    <a href="/auth/twitter">
        <i class="middle-icon fa fa-twitter-square fa-3x"></i> Iniciar Sesión con Twitter
    </a>
</div>

<div id="selectDataset" style="display: none;">
    <h4>Seleccione lo que quiere reportar:</h4>

    <div>
        <select id="selectDatasetShowDatasets">

        </select>
    </div>
</div>

<div style="display: none" id="stats">
    <canvas id="barChart" width="400" height="400"></canvas>
</div>

<div id="selectLayers">
</div>

<div id="showDoc">

    <div class="jcarousel">
        <ul>
            <li>
                <img src="/img/tutorial-1.png"/>
            </li>
            <li>
                <img src="/img/tutorial-2.png"/>
            </li>
            <li>
                <img src="/img/tutorial-3.png"/>
            </li>
        </ul>
    </div>

</div>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script src="/js/lib/jquery.router.js"></script>
<script src="/js/lib/jquery.tmpl.min.js"></script>
<script src="/js/lib/jquery.jcarousel.min.js"></script>
<script src="/js/lib/Chart.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
>
<script src="/js/lib/crypto/aes.js"></script>
<script src="/js/main.js"></script>


</body>
</html>
